<div style="width: 100%;" fxLayout="column" fxLayoutAlign="center center">
  <div style="width: 100%;" fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search in all columns" #input>
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button>Export to Excel</button>
      <button mat-raised-button>Export to PDF</button>
    </div>
  </div>

  <div style="width: 100%;" fxLayout="column" fxLayoutAlign="center center" cdkDropListGroup>
    <div
      style="height: 100px; width: 100%; display: flex; justify-content: start; align-items: center; background: lightgray;"
      cdkDropList (cdkDropListDropped)="dropGroup($event)">
      <span *ngIf="groupFilterItems.length <= 0">
        Drag a column header and drop it here to group by that column
      </span>
      <mat-chip-list>
        <mat-chip *ngFor="let item of groupFilterItems" (removed)="removeGroupFilterItem(item)">
          {{item}}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
      </mat-chip-list>
    </div>
    <div style="width: 100%;">
      <table mat-table multiTemplateDataRows [dataSource]="dataSource" matSort cdkDropList cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="dropCol($event)">
        <ng-container *ngFor="let column of columnsToDisplay; let i = index;" [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [index]="i">
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <div cdkDrag [cdkDragData]="column" mat-sort-header>
                {{column}}
              </div>
              <div>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <div fxLayout="column" fxLayoutAlign="center center">
                    <button mat-menu-item #col_filter
                      (click)="$event.stopPropagation(); showColFilter = !showColFilter">
                      <mat-icon>reorder</mat-icon>
                      <span>Columns</span>
                    </button>
                    <div *ngIf="showColFilter" style="width: 100%; padding: 0px 16px 0px 16px;" fxLayout="column"
                      fxLayoutAlign="center start">
                      <div *ngFor="let obj of columsForFilter; let i=index">
                        <mat-checkbox (change)="colFilter($event, i)" [checked]="obj.display"
                          (click)="$event.stopPropagation();">{{obj.column}}</mat-checkbox>
                      </div>
                      <div fxLayout="row" fxLayoutAlign="space-between center">
                        <button mat-raised-button color="basic"
                          (click)="$event.stopPropagation(); resetFilterCol();">Reset</button>
                        <button mat-raised-button color="primary" (click)="reloadTableWithFilter()">Apply</button>
                      </div>
                    </div>
                  </div>

                  <div fxLayout="column" fxLayoutAlign="center center">
                    <button mat-menu-item (click)="$event.stopPropagation(); showFilter = !showFilter">
                      <mat-icon>filter_alt</mat-icon>
                      <span>Filter</span>
                    </button>
                    <div *ngIf="showFilter">
                      TEST 2
                    </div>
                  </div>
                </mat-menu>
              </div>
            </div>
          </th>
          <td mat-cell *matCellDef="let element">
            {{element[column]}}
          </td>
        </ng-container>
         <!-- Group Table -->
          <ng-container matColumnDef="groupHeader">
            <td mat-cell [attr.colspan]="columnsToDisplay.length" *matCellDef="let dataSourceGroup">
              <div *ngFor="let item of groupFilterItems; let i = index">
                <strong>{{dataSourceGroup[item]}}</strong>
              </div>
            </td>
            </ng-container>
            <tr [ngStyle]="groupFilterItems.length > 0 ? {} : {'display': 'none'}" mat-row *matRowDef="let row; columns: ['groupHeader'];"></tr>
          <!--End Group Table -->
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of objects"></mat-paginator>
    </div>
  </div>
</div>